@import "tailwindcss";

.sidebar-scrollbar {
    ::-webkit-scrollbar {
        width: 9px;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    ::-webkit-scrollbar-track {
        background-color: white;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(78, 75, 75);
    }
}